@import url("bootstrap.min.css");
@import url("//fonts.googleapis.com/css?family=EB+Garamond"));

/* 2 dominant styles for the 2 sections of the website 

redstyle 
  #ac2e24;
  rgb( 160, 177, 48);
  rgba( 160, 177, 48, 0.2);
}

greenstyle 
  #a0b130;
  rgb( 172, 46, 36);
  rgba( 172, 46, 36, 0.2);
-------------------------------------------------- */





/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  padding-top: 1em;
}
.redstyle #footer, .redstyle body {
  background-color: #ac2e24;
}
.greenstyle #footer, .greenstyle body {
  background-color: #a0b130;
}


/* Keep the space for the language flags 
-------------------------------------------------- */
#header div.row:first-child {
  min-height: 64px!important;
}


/* Change base font and bg transparency
-------------------------------------------------- */
body {
  font-family: "EB Garamond"!important;
}
body.redstyle {
  background-color: rgba( 160, 177, 48, 0.2);
}
body.greenstyle {
  background-color: rgba( 172, 46, 36, 0.2);
}



/* Make text in footer and nav sections uppercase
-------------------------------------------------- */
#footer, #nav_menu_section, #nav_langs, #nav_sections {
  text-transform: uppercase;
  font-size: 1.2em;
}


/* Looks for the language navigator
-------------------------------------------------- */
#nav_langs {
  font-weight: bold;
}
#nav_langs a {
  background-color: rgba( 256, 256, 256, 0.5);
  display: block;
  float: left;
  padding: 15px 5px 5px 5px;
  margin: 0px 4px 0px 4px;
}


/* Looks for the choice-menu home page #nav_sections
-------------------------------------------------- */
#nav_sections {
  margin-top: 5%;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.35em;
  color: white!important;
}
#nav_sections > div {
  opacity: 0.8;
}
#nav_sections > div:hover {
  opacity: 1;
}
#nav_sections .redstyle {
  color: #ac2e24!important;
}
#nav_sections .greenstyle {
  color: #a0b130!important;
}


/* Customise the footer-style
-------------------------------------------------- */
#footer {
  color: white;
}
#footer .pull-right {
  padding-right: 2em;
}


/* Position and looks for the logo
-------------------------------------------------- */
#nav_home_logo {
  position: absolute;
  padding: 35px 35px 15px 35px;
  background-color: rgba(255,255,255,0.5);
}


/* Looks for the menu
-------------------------------------------------- */
#nav_menu_section {
  background-color: rgba( 256, 256, 256, 0.5);
  min-height: 48px!important;
  font-size: 1.3em;
}

#contact span,
#nav_menu_section span {
  padding-left: 1em;
  padding-right: 0.95em;
  border-right: 1px solid black;
}
#contact span,
#nav_menu_section a {
  margin-left: 2px;
  margin-right: 2px;
}
#nav_menu_section a {
  padding-left: 2px;
  padding-right: 2px;
}
#nav_menu_section a:first-child {
  padding-left: 0;
  margin-left: 0;
}
.redstyle #nav_menu_section span {
  border-right-color: #ac2e24;
}
.greenstyle #nav_menu_section span {
  border-right-color: #a0b130;
}
#contact span {
  border-right-color: white;
}
#contact span:last-child,
#nav_menu_section span:last-child {
  border-right: none;
}


/* Looks for the buttons in the menu
-------------------------------------------------- */
.redstyle #nav_menu_toggle, 
.redstyle #nav_menu_home {
  background-color: #ac2e24;
}
.greenstyle #nav_menu_toggle,
.greenstyle #nav_menu_home {
  background-color: #a0b130;
}
#nav_menu_toggle,
#nav_menu_home {
  height: 48px!important;
  width: 48px!important;
}
#nav_menu_home:hover {
  background-image: url('../img/fluisterbos-home-glow.png' );
  background-height: 48px;
  background-width: 48px;
}


.redstyle #nav_menu_section, 
.redstyle #nav_langs {
  color: #ac2e24!important;
}
.greenstyle #nav_menu_section, 
.greenstyle #nav_langs {
  color: #a0b130!important;
}

/* Style the content 
-------------------------------------------------- */
#content h1, 
#content h2, 
#content h3, 
#content h4, 
#content h5, 
#content h6 {
  text-shadow: 0.1em 0.1em 0.2em black;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px groove white;
}
#content ol, 
#content ul {
  padding-left: 40px;
}
#content {
  margin-top: 2em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  padding: 1.5em;
  overflow: auto;
}
#content th:empty {
  display: none;
}
#content a {
  color: #ddf;
  border-bottom: 1px dashed #ddf;
}



/* Style the links
-------------------------------------------------- */
a:hover,
a {
  text-decoration: none;
}
#contact a,
#nav_menu_section a,
#nav_sections a,
#nav_langs a {
  color: inherit;
}


/* Make active selections stand out
-------------------------------------------------- */
.redstyle a:hover,
.redstyle .active a {
  background-color: #ac2e24!important;
  color: #fff!important;
}
.greenstyle a:hover,
.greenstyle .active a {
  background-color: #a0b130!important;
  color: #fff!important;
}
a.silent:hover {
  background-color: transparent!important;
  color: inherit!important;
}


/* div-wrapping parent/child
-------------------------------------------------- */
.wrap-parent {
  position: relative;
}
.wrap-child {
  position: absolute;
}


