@import url("bootstrap.min.css");
@import url("//fonts.googleapis.com/css?family=EB+Garamond"));

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  padding-top: 1em;
}
.redstyle #footer {
  background-color: #ac2e24;
}
.greenstyle #footer {
  background-color: #a0b130;
}


/* Change base font 
-------------------------------------------------- */
body {
  font-family: "EB Garamond"!important;
}
/* Make text in footer and nav sections uppercase
-------------------------------------------------- */
#footer, #nav_menu_section, #nav_langs {
  text-transform: uppercase;
}


/* Create line-ups of ul>li options 
-------------------------------------------------- */
ul.linedup {
  list-style-type: none;
}
ul.linedup li {
  display: inline-block;
  border-right: 1px solid black;
  padding: 0 0.1em;
  margin: 0 0.1em;
}
ul.linedup li a {
  padding: 0 0.1em;
  margin: 0 0.1em;
}
.redstyle ul.linedup li {
  border-right-color: #ac2e24;
}
.greenstyle ul.linedup li {
  border-right-color: #a0b130;
}
#footer ul.linedup li {
  color: #fff;
  border-right-color: #fff;
}
ul.linedup li:last-child {
  border-right: none;
}

.redstyle #nav_menu_section, .redstyle #nav_langs {
  color: #ac2e24;
}
.greenstyle #nav_menu_section, .greenstyle #nav_langs {
  color: #a0b130;
}

/* Make active selections standout
-------------------------------------------------- */
.active-redstyle a {
  background-color: #ac2e24;
  color: #fff;
}
.active-greenstyle a {
  background-color: #a0b130;
  color: #fff;
}
