<!DOCTYPE html>
{% comment %} <!-- set defaults --> {% endcomment %}
{% assign page_lang = 'nl' %}
{% assign page_style = 'redstyle' %}
{% assign page_menu = 'index' %}
{% assign page_bg =  site.data.slides.default %}
{% comment %} <!-- parse path segments into meaning --> {% endcomment %}
{% assign segments = page.url | replace:'.html','' | split:'/' %}
{% assign maxloop = 0 %}
{% for segm in segments limit:3 offset:1 %}
  {% assign maxloop = forloop.index %}
  {% case forloop.index %}
    {% when 1 %} {% assign page_lang = segm  %}
    {% when 2 %} {% assign page_section = segm  %}
    {% when 3 %} {% assign page_menu  = segm %}
  {% endcase %}
{% endfor %}
{% if maxloop < 2 %}<!-- -->
  {% assign page_lang = 'nl' %}
  {% assign page_section = 'index' %}
{% endif %}
{% if maxloop < 3 %}<!-- -->
  {% assign page_menu = page_section %}
  {% assign page_section = null %}
{% endif %}
{% comment %} <!-- derived page-style plus overrides/settings from page own prelude --> {% endcomment %}
{% if page.section %} {%assign page_section = page.section %} {% endif %}
{% if page.menu %}    {%assign page_menu = page.menu %} {% endif %}
{% if page_section and page_section != '' %} {% assign page_style =  site.data.navigation.style[page_section] %} {% endif %}
{% if page.style %}   {%assign page_style = page.style %} {% endif %}
{% if page.bg %}      {%assign page_bg = page.bg %} {% endif %}
{% capture page_section_key %}{{ page_lang }}/{{ page_section }}{% endcapture %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- for Google -->
    <meta name="description" content="{{ site.description }}" />
    {% if site.keywords %}<meta name="keywords" content="{{ site.keywords | join: ',' }}">
    {% endif %}

    <meta name="author" content="Fluisterbos" />
    <meta name="copyright" content="Fluisterbos" />
    <!-- google+ direct link -->
    <link href="https://plus.google.com/115156305768661862049" rel="publisher" />

    <!-- for Facebook -->          
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ site.url }}{{ site.data.slides[site.data.slides.default][0]  }}" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:description" content="{{ site.description }}" />

    <!-- for Twitter -->          
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}{{ site.data.slides[site.data.slides.default][0] }}" />


    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/supersized.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/fluisterbos-ico-48.png">

  </head>
  <body class="{{ page_style }}" data-bg='{{ site.data.slides[page_bg] | jsonify }}' >
    <header>
      <nav>
        <div id="header" class="container hidden-print">
          <div class="row"><div class="col-md-12">
            {% if page_section %}
              <div id="nav_home_logo" class="hide-fade hidden-sm hidden-xs">
                <a href="/{{ page_lang }}/" class="silent">
                  <img src="{{ site.data.navigation.homelogo[page_section_key] }}">
                </a>
              </div>
            {% endif %}
            <div id="nav_langs" class="hide-top pull-right">
              {% for lang in site.data.navigation.langs %}
                <span {% if page_lang == lang %} class="active" {% endif %} > 
                  <a href="/{{ lang }}" 
                  >{{ lang }}</a>
                </span>
              {% endfor %}
            </div>
          </div></div>
          <div class="row "><div class="col-md-12">
            {% if page_section %}
              <img id="nav_menu_toggle" src="/img/nav-menu-toggle.png" alt="menu toggle" class="pull-right hidden-sm hidden-xs"/>
              <div id="nav_menu_section" class="hide-right pull-right">
                {% for menu in site.data.navigation.menu[page_section_key] %}
                  {% if menu.path == 'index' %}
                    <a href="/{{ page_lang }}/{{ page_section }}/{{ menu.path }}.html" class="silent">
                      <img id="nav_menu_home" src="/img/fluisterbos-home.png" alt="menu home" />
                    </a>
                  {% else %}
                    <span {% if page_menu == menu.path %} class="active" {% endif %} >
                      <a href="/{{ page_lang }}/{{ page_section }}/{{ menu.path }}.html"
                      >{{ menu.label }}</a>
                    </span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div></div>
        </div>
      </nav>
    </header>

    <article>
      {% if page_section or page_menu != 'index' %}
        <div class="container hide-fade"><div class="row"><div class="col-md-7 col-md-offset-5">
          <div class="row wrap-parent"><div class="col-md-12 wrap-child">
            <div id="content" class="content">
              <h1 class="title">{{ page.title }}</h1>
              {{ content }}
            </div>
          </div></div>
        </div></div></div>
      {% else %}
        <div class="container">
          {% assign sections = site.data.navigation.sections[page_lang] %}
          {% if sections %}
          <div id="nav_sections" class="row"><div class="col-md-10 col-md-offset-1">
            {% for section in sections %}
            <div class="col-md-6 {{ section.style }}"><div class="choice row">
              <div class="col-md-12 caption">
                <a class="silent" 
                   href="/{{ page_lang }}/{{ section.path }}">{{ section.label }}</a>
              </div>
              <div class="col-md-12 ">
                <a class="silent" 
                   href="/{{ page_lang }}/{{ section.path }}"><img src="{{ section.logo }}"></a>
              </div>
            </div></div>
            {% endfor %}
          </div></div>
          {% endif %}
          <!-- no {-{- content -}-} -->
        </div>
      {% endif %}
    </article>  

    <footer>
      <div id="footer">
        <div class="pull-right hidden-sm hidden-xs hidden-print">
          <a class="silent" href="http://www.photographyadriaan.be" target="_blank"><img src="/img/logo-adriaanhuys.png"/></a>
        </div>
        <div id="contact" itemscope itemtype="http://schema.org/Place" >
          <meta itemprop="name"        content="{{ site:name }}" />
          <meta itemprop="description" content="{{ site:description }}" />
          <meta itemprop="url"         content="{{ site:url }}" />
          <span id="route-link" class="item hidden-print {% if page_menu == 'route' %}active{% endif %}"><a itemprop="map" title="route" href="/{{ page_lang }}/route.html"><span class="glyphicon glyphicon-map-marker"></span></a></span>
          <span itemprop="address"  itemscope itemtype="http://schema.org/PostalAddress">
            <span id="address" itemprop="streetAddress" class="item hidden-xs show-print">Filip Van Maestrichtplein 6</span>
            <span class="item hidden-sm hidden-xs hidden-md show-print">
              <span itemprop="postalCode">8400</span> <span itemprop="addressLocality">Oostende</span>
            </span>
            <meta itemprop="addressCountry" content="Belgium" />
          </span>
          <span "geo" itemprop="geo" itemscope itemtype="http://schema.org/GeoCordinates">
            <meta itemprop="latitude" content="51.2245198" />
            <meta itemprop="longitude" content="2.9137846" />
          </span>
          <span itemprop="telephone" class="item show-print">+32 472 84 17 15</span>
          <span itemscope itemref="address">
            <a itemprop="email" title="email" target="_blank" href="mailto:info@fluisterbos.be"><span class="item show-print">info@fluisterbos.be</span></a>
          </span>
          <div class="fb-follow hidden-sm hidden-xs hidden-print" data-href="https://www.facebook.com/fluisterbos" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>
      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script src='/js/jquery-1.11.0.min.js'><\/script>");
    </script>
    <script type="text/javascript" src="/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% include ga.html %}
    {% include fb.html %}

  </body>
</html>
