<!DOCTYPE html>
{% comment %} <!-- set defaults --> {% endcomment %}
{% assign page_lang = 'nl' %}
{% assign page_style = 'redstyle' %}
{% assign page_menu = 'index' %}
{% comment %} <!-- parse path segments into meaning --> {% endcomment %}
{% assign segments = page.url | replace:'.html','' | replace:'/index','/' | split:'/' %}
{% for segm in segments limit:3 offset:1 %}
  {% case forloop.index %}
    {% when 1 %} {% assign page_lang = segm  %}
    {% when 2 %} {% assign page_section = segm  %}
    {% when 3 %} {% assign page_menu  = segm %}
  {% endcase %}
{% endfor %}
{% comment %} <!-- derived page-style plus overrides/settings from page own prelude --> {% endcomment %}
{% if page.section %} {%assign page_section = page.section %} {% endif %}
{% if page.menu %}    {%assign page_menu = page.menu %} {% endif %}
{% if page_section and page_section != '' %} {% assign page_style =  site.data.navigation.style[page_section] %} {% endif %}
{% if page.style %}   {%assign page_style = page.style %} {% endif %}
<!-- TODO: remove debugging : 
     lang = {{ page_lang }} :: 
     section = {{ page_section}} :: 
     menu = {{ page_menu }} ::
     style = {{ page_style }} ::
 -->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }} :: {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/fluisterbos-ico-48.png">

  </head>
  <body class="{{ page_style }}">
    <header>
      <nav>
        <div id="header" class="container">
          <div class="row"><div class="col-md-12">
            {% if page_section %}
              <div id="nav_home_logo" class="hide-fade">
                <a href="/{{ page_lang }}/{{ page_section }}" class="silent">
                  <img src="/img/logo-fluisterbos-{{ page_section}}.png">
                </a>
              </div>
            {% endif %}
            <div id="nav_langs" class="hide-top pull-right">
              {% for lang in site.data.navigation.langs %}
                <span {% if page_lang == lang %} class="active" {% endif %} > 
                  <a href="/{{ lang }}" 
                  >{{ lang }}</a>
                </span>
              {% endfor %}
            </div>
          </div></div>
          <div class="row "><div class="col-md-12">
            {% if page_section %}
              <img id="nav_menu_toggle" src="/img/nav-menu-toggle.png" alt="menu toggle" class="pull-right"/>
              <div id="nav_menu_section" class="hide-right pull-right">
                {% for menu in site.data.navigation.menu[page_section] %}
                  {% if menu.path == 'index' %}
                    <a href="/{{ page_lang }}/{{ page_section }}/{{ menu.path }}.html" class="silent">
                      <img id="nav_menu_home" src="/img/fluisterbos-home.png" alt="menu home" />
                    </a>
                  {% else %}
                    <span {% if page_menu == menu.path %} class="active" {% endif %} >
                      <a href="/{{ page_lang }}/{{ page_section }}/{{ menu.path }}.html"
                      >{{ menu.label }}</a>
                    </span>
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
          </div></div>
        </div>
      </nav>
    </header>

    <article>
      {% if page_section %}
      <div class="container hide-fade"><div class="row"><div class="col-md-7 col-md-offset-5">
        <div class="row wrap-parent"><div class="col-md-12 wrap-child">
          <div class="content">
            <h1 class="title">{{ page.title }}</h1>
            {{ content }}
          </div>
        </div></div>
      </div></div></div>
      {% else %}
        {{ content }}
      {% endif %}
    </article>  

    <footer>
      <div id="footer">
        <div class="pull-right">
          <a href="http://www.photographyadriaan.be" target="_blank"><img src="/img/logo-adriaanhuys.png"/></a>
        </div>
        <div id="contact">
          <span>Filip Van Maestrichtplein 6</span>
          <span>8400 Oostende</span>
          <span>T. 0472 84 17 15</span>
          <span><a target="_blank" href="maitto:info@fuilsterbos.be">info@fluisterbos.be</a></span> 
          <div class="fb-follow" data-href="https://www.facebook.com/fluisterbos" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>
      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script src='/js/jquery-1.11.0.min.js'><\/script>");
    </script>
    <script type="text/javascript" src="/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% include ga.html %}
    {% include fb.html %}

  </body>
</html>
