<!DOCTYPE html>
{% include layout-prelude.html %}
<html lang="{{ page_lang }}">
  <head>
    <!-- meta-data -->
{% include meta.html %}
    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/supersized.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/fluisterbos-ico-48.png">
  </head>
  <body class="{{ page_style }}" data-bg='{{ site.data.slides[page_bg] | jsonify }}' >
    <header>
      <nav>
        <div id="header" class="container hidden-print">
          <div class="row"><div class="col-md-12">
{% if lvl1 or page.show == 'content' %}{% assign logo_url = lvl1.homelogo%}{% unless lvl1 %}{% assign logo_url = site.data.menu[0].homelogo %}{% endunless %}
            <a href="/{{ page_lang }}/" class="silent">
              <div id="nav_home_logo" class="hide-fade hidden-sm hidden-xs">
                <img src="{{ logo_url }}">
              </div>
            </a>
{% endif %}
            <div id="nav_langs" class="hide-top pull-right">
{% for lang in site.data.langs %}
              <span {% if page_lang == lang %} class="active" {% endif %} >
                <a href="{% if page_linkcode %}{{ site.data.linkcode[page_linkcode][lang] }}{% else %}/{{lang}}/{% endif %}">{{ lang }}</a>
              </span>
{% endfor %}
            </div>
          </div></div>
          <div class="row "><div class="col-md-12">
{% if lvl1 %}
              <img id="nav_menu_toggle" src="/img/nav-camera-toggle.png" alt="menu toggle" class="pull-right hidden-sm hidden-xs"/>
              <div id="nav_menu_section" class="hide-right pull-right">
                <a href="{{ site.data.linkcode[lvl1.linkcode][page_lang] }}" class="silent">
                  <img id="nav_menu_home" src="/img/fluisterbos-home.png" alt="FluisterBos" />
                </a>
    {% for menu in lvl1.submenu %}{% if menu.menutekst[page_lang] %}
                    <span {% if lvl2.linkcode == menu.linkcode %} class="active" {% endif %} >
                      <a href="{{ site.data.linkcode[menu.linkcode][page_lang] }}"
                      >{{ menu.menutekst[page_lang] }}</a>
                    </span>
    {% endif %}{% endfor %}
              </div>
{% endif %}
          </div></div>
        </div>
      </nav>
    </header>

    <article>
{% if lvl1 or page.show == 'content'%}
        <div class="container hide-fade"><div class="row"><div class="col-md-7 col-md-offset-5">
          <div class="row wrap-parent"><div class="col-md-12 wrap-child">
            <div id="content" class="content">
              <h1 class="title">{{ page.title }}</h1>
              {{ content }}
            </div>
          </div></div>
        </div></div></div>
{% else %}
        <div class="container">
          <div id="nav_sections" class="row"><div class="col-md-10 col-md-offset-1">
      {% for section in site.data.menu %}
            <div class="col-md-6 {{ section.style }}">
              <a class="silent"
                   href="{{ site.data.linkcode[section.linkcode][page_lang] }}">
                <div class="choice row">
                  <div class="col-md-12 caption">
                   {{ section.menutekst[page_lang] }}
                  </div>
                  <div class="col-md-12 ">
                   <img src="{{ section.logo }}">
                  </div>
                </div>
              </a>
            </div>
      {% endfor %}
          </div></div>
          <!-- no {-{- content -}-} -->
        </div>
{% endif %}
    </article>  

    <footer>
      <div id="footer">
        <div class="pull-right hidden-sm hidden-xs hidden-print">
          <a class="silent" href="http://www.photographyadriaan.be" target="_blank"><img src="/img/logo-adriaanhuys.png"/></a>
        </div>
        <div id="contact" itemscope itemtype="http://schema.org/Place" >
          <meta itemprop="name"        content="{{ site.name }}" />
          <meta itemprop="description" content="{{ site.description }}" />
          <meta itemprop="url"         content="{{ site.url }}" />
          <span id="route-link" class="item hidden-print {% if page_menu == 'route' %}active{% endif %}"><a itemprop="map" title="route" href="{{ site.data.linkcode['route'][page_lang] }}"><span class="glyphicon glyphicon-map-marker"></span></a></span>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress" class="item hidden-xs show-print">Filip Van Maestrichtplein 6</span>
            <span class="item hidden-sm hidden-xs hidden-md show-print">
              <span itemprop="postalCode">8400</span> <span itemprop="addressLocality">Oostende</span>
            </span>
            <meta itemprop="addressCountry" content="Belgium" />
            <a itemprop="email" title="email" target="_blank" href="mailto:info@fluisterbos.be"><span class="item show-print">info@fluisterbos.be</span></a>
          </span>
          <span "geo" itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="51.2245198" />
            <meta itemprop="longitude" content="2.9137846" />
          </span>
          <span itemprop="telephone" class="item show-print">+32 472 84 17 15</span>
          </span>
          <div class="fb-follow hidden-sm hidden-xs hidden-print" data-href="https://www.facebook.com/fluisterbos" data-colorscheme="light" data-layout="button" data-show-faces="false"></div>
      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script src='/js/jquery-1.11.0.min.js'><\/script>");
    </script>
    <script type="text/javascript" src="/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {% include ga.html %}
    {% include fb.html %}

  </body>
</html>
